@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  @apply transition-all duration-500;
}

* {
  box-sizing: border-box;
  //@apply transition-all duration-500;
}

.lang--switcher {
  @apply px-3 py-2 hover:text-white hover:bg-hover
  transition-all duration-500 relative rounded;
  @apply flex items-center gap-1 font-normal uppercase
}

._tag {
  @apply text-sm p-3 bg-black rounded-md;
}

._badge {
  @apply flex gap-3;

  &:hover {
    ._avatar {
      @apply hover:border-primary;
    }
  }

  ._avatar {
    @apply border-2 border-transparent rounded-full overflow-hidden h-12 w-12 bg-white;

    img {
      @apply object-cover object-center;
    }
  }

  ._desc {
    @apply flex flex-col justify-center gap-1;

    span {
      @apply text-xs text-gray-400
    }

    strong {
      @apply text-sm
    }
  }
}

._btn {
  @apply px-4 py-2 bg-primary border-2 border-primary rounded-md text-sm;

  &._bordered {
    @apply border-2 border-white bg-transparent hover:border-primary;
  }

  &._large {
    @apply px-6 py-3
  }
}
