@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  @apply transition-all duration-500;
}

* {
  box-sizing: border-box;
  //@apply transition-all duration-500;
}

.lang--switcher {
  @apply px-3 py-2 hover:text-white hover:bg-hover
  transition-all duration-500 relative rounded;
  @apply flex items-center gap-1 font-normal uppercase
}

._tag {
  @apply text-sm p-3 bg-gray-300 dark:bg-black rounded-xl;
}

._badge {
  @apply flex gap-3 dark:sm:bg-transparent dark:bg-black bg-gray-300 sm:bg-transparent p-2 rounded-xl w-full;

  &:hover {
    ._avatar {
      @apply hover:border-primary;
    }
  }

  ._avatar {
    @apply border-2 border-transparent rounded-full overflow-hidden h-12 w-12 bg-white;

    img {
      @apply object-cover object-center;
    }
  }

  ._desc {
    @apply flex flex-col justify-center gap-1;

    span {
      @apply text-xs dark:text-white text-gray-600;
    }

    strong {
      @apply text-sm dark:text-white text-gray-800;
    }
  }
}

._btn {
  @apply px-4 py-2 bg-primary border-2 border-primary rounded-xl text-sm text-white;

  &._bordered {
    @apply border-2 dark:text-white text-black border-white bg-transparent hover:border-primary;
  }

  &._large {
    @apply px-6 py-3
  }
}

.certificate--icon {
  @apply text-primary;
}

._numbers {
  @apply flex flex-col;

  ._top {
    @apply flex items-center gap-1;

    ._icon {
      @apply text-gray-400;
    }

    span {
      @apply text-black dark:text-white;
    }
  }

  ._subtract {
    @apply text-xs;
  }
}

._test {
  @apply absolute bg-hover inset-0;
}

._drawer {
  @apply fixed inset-0 backdrop-blur-xl z-50 transition-all duration-500 flex items-stretch flex-col;

  &._visible {
    @apply pointer-events-auto opacity-100;

    .drawer--content {
      @apply translate-x-0 opacity-100;
    }
  }

  &._hidden {
    @apply pointer-events-none opacity-0;
  }

  .drawer--content {
    @apply absolute max-w-[408px] w-full inset-y-0 right-0 left-auto p-6 transition-all duration-500 delay-100 translate-x-4 opacity-0;

    ._closer {
      @apply absolute right-6 top-6 transition-all duration-500 hover:bg-primary rounded-xl p-2;
    }

    ._links {
      @apply w-full h-full bg-white dark:bg-black px-10 rounded-xl flex items-stretch relative;

      ._content {
        @apply py-10 flex flex-col justify-between w-full;

        ._top {
          @apply flex flex-col gap-4;

          a {
            @apply text-2xl font-bold text-gray-500 dark:text-white hover:text-primary;
          }
        }

        ._bottom {
          @apply flex flex-col items-center;

          hr {
            @apply border-gray-300 dark:border-gray-700 my-8 w-full;
          }
        }
      }
    }
  }
}

._socials {
  @apply flex items-center gap-6;

  a {
    @apply hover:text-primary dark:text-white text-gray-500 text-xl;
  }
}
