._modal {
  @apply fixed inset-0 backdrop-blur flex items-center justify-center transition-all duration-500 p-2;
  z-index: 999;

  ._content {
    @apply relative bg-gray-300 dark:bg-black rounded-lg transition-all duration-500 delay-300 ;
    max-width: 678px;
    min-height: 100px;

    &._full {
      @apply w-full;
    }

    &._large {
      width: 768px;
    }

    &._medium {
      width: 500px;
    }

    &._small {
      width: 300px;
    }

    ._head {
      @apply relative p-6 flex items-center justify-between;
    }

    ._opener {
      @apply bg-gray-200 dark:bg-black border-0 p-2 transition-all duration-500 absolute top-4 right-4;

      &:hover {
        @apply bg-primary dark:bg-hover text-white;
      }
    }

    .modal--container {
      @apply p-5 pt-0;
    }
  }

  &._visible {
    @apply opacity-100 pointer-events-auto;

    ._content {
      @apply translate-y-0 opacity-100;
    }
  }

  &._hidden {
    @apply opacity-0 pointer-events-none;

    ._content {
      @apply translate-y-8 opacity-0;
    }
  }
}
